version: '3.8'

services:
  frequi:
    build:
      context: ./ui
      dockerfile: Dockerfile
    container_name: freqtrade-ui
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - freqtrade-ichiv1
      - freqtrade-lookaheadstrategy
      - freqtrade-macd
      - freqtrade-customstoplosswithpsar
      - freqtrade-macdcci

  freqtrade-ichiv1:
    build: .
    container_name: freqtrade-trader-ichi_v_1
    restart: unless-stopped
    ports:
      - "8081:8080"
    volumes:
      - "./user_data:/freqtrade/user_data"
    command: >
      trade
      --config /freqtrade/user_data/config.json
      --strategy ichiV1

  freqtrade-lookaheadstrategy:
    build: .
    container_name: freqtrade-trader-lookahead_strategy
    restart: unless-stopped
    ports:
      - "8082:8080"
    volumes:
      - "./user_data:/freqtrade/user_data"
    command: >
      trade
      --config /freqtrade/user_data/config.json
      --strategy LookaheadStrategy

  freqtrade-macd:
    build: .
    container_name: freqtrade-trader-macd
    restart: unless-stopped
    ports:
      - "8083:8080"
    volumes:
      - "./user_data:/freqtrade/user_data"
    command: >
      trade
      --config /freqtrade/user_data/config.json
      --strategy Macd

  freqtrade-customstoplosswithpsar:
    build: .
    container_name: freqtrade-trader-custom_stoploss_with_psar
    restart: unless-stopped
    ports:
      - "8084:8080"
    volumes:
      - "./user_data:/freqtrade/user_data"
    command: >
      trade
      --config /freqtrade/user_data/config.json
      --strategy CustomStoplossWithPSAR

  freqtrade-macdcci:
    build: .
    container_name: freqtrade-trader-macdcci
    restart: unless-stopped
    ports:
      - "8085:8080"
    volumes:
      - "./user_data:/freqtrade/user_data"
    command: >
      trade
      --config /freqtrade/user_data/config.json
      --strategy MACDCCI
